.title {
    padding-top: 150px;

    &_downAllow {
        padding-left: 80px;
        max-width: 194px;
        max-height: 220px;
        font-weight: 700; 
    }

    &_date {
        display: flex;
        flex-direction: column;
        max-width: 350px;
        font-size: 30px;
    }

    &_name {
        position: relative;
        display: inline-block;
        font-size: 300px;
        line-height: 1;
        padding: 0 50px;
        z-index: 1;
    }
}
.viewMore{
    display: flex;
    justify-content: space-around;
    max-height: 637px;
    align-items: center;
    &_text{
        display: flex;
        gap: 5px;
    }
    &_anotation{
        gap: 20px;
        display: flex;
        flex-direction: column;
        width: 481px;
        height: 111px;
        font-size: 40px;
        font-family: var(--heebo-font);
        &-plus{
            width: 26px;
            height: 40px;
        }
        &__div{
            letter-spacing: 0.8;
            color: var(--gray-color);
            width: 386px;
            font-size: 16px;
        }
    }
    &_img{
        position: relative;
        width: 518px;
        height: 760px;
        z-index: 0;
    }
}
.elementor-container{
    // padding-bottom: 80px;
    background-color: var(--dark-color);
    height: 624px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    &_img{
        width: 518px;
        height: 689px;
    }
    &_text{
        display: flex;
        gap: 10px;
        align-items: start;
        justify-content: center;
    }
    &_anotation{
        gap: 40px;
        display: flex;
        flex-direction: column;
        width: 361px;
        height: 111px;
        font-size: 40px;
        font-family: var(--heebo-font);
        &__div{
            letter-spacing: 0.8;
            color: var(--gray-color);
            width: 400px;
            height: 52px;
            font-size: 16px;
        }
        &-plus{
            width: 26px;
            height: 40px;
        } 
    }
}
.qodef-grid-inner{
    display: flex;
    padding:  60px 0px 80px;
    align-items: end;
    justify-content: space-around;
    &_ul{
        
        display: flex;
        align-items: end;
        gap: 40px;
        &__li{
            display: flex;
            flex-direction: column;
            justify-content: center;
            gap: 32px;
            &___span{
                font-size: 16px;
                font-weight: bolder;
            }
        }
    }
}
.elementor-section {
    position: relative;
    &_text {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, 100%);
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 40px;
        font-weight: bolder;
        color: white;
        font-size: 180px;
        text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
        white-space: nowrap;
        &__img {
            width: 127px;
            height: 127px;
        }
    }
}
.elementor-widget-wrap {
    padding: 100px 0;
    display: flex;
    flex-direction: column;
    width: 451px;
    margin: 0 auto;
    // background-color: var(--dark-color);
    // padding: 20px;
  
    &_title {
        display: flex;
        justify-content: center;
      font-size: 60px;

      font-weight: bold;      
      color: var(--white-color);
      
    }
  
    &_text {
      font-size: 20px;
      display: flex;
      justify-content: center;
      align-items: center;
      color: #C4C4C4;
      margin-bottom: 20px;
      width: 450px;
      height: 54px;
      text-align: center;
    }
  
    &_inputs {
      display: flex;
      gap: 25px;
      justify-content: center;
  
      &-input {
        background-color: var(--dark-color);
        width: 220px;
        height: 54px;
        border: 1px #C4C4C4 solid;
        border-radius: var(--border-radius);
        padding: 0 25px;
        font-size: 16px;
        color: white;
        transition: all 0.3s ease;
  
        &::placeholder {
          color: rgba(255, 255, 255, 0.7);
        }
      }
    }
  }
.elementor-section{
    width: 100%;
    display: flex;
    height: 100%;
    &_img{
        width: 50%;
        height: 50%;
    }
    &_info{
        width: 50%;
        
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 10px;
        
        &__title{
            font-size: 40px;
        }
        &__text{ 
            display: flex;
            color: var(--gray-color);
            text-align: center;
            justify-content: center;
            align-items: center;
            width: 60%;
            font-size: 16px;
        }
    }
}
.part-container{
    background-color: var(--dark-color);
    padding:10px 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    &_title{
        font-size: 60px;
        
        &-plus{
            width: 32px;
            height: 50px;
        }
    }
    &_text{
        display: flex;
        text-align: center;
        font-size: 20px;
        color: var(--gray-color);
        max-width: 520px;
    }
}
.qodef-shortcode{
    padding: 40px 0;
    display: flex;
    width: 100%;
    background-color: var(--dark-color);
    justify-content: center;
    gap: 100px;
    align-items: center;
    .qodef-m-calculator-holder-inner{
        display: flex;
        width: 450;
        flex-direction: column;
        // align-items: center;
        // justify-content: center;
        gap: 20px;
        &_title{
            width: 400px;
            font-size: 40px;
           
        }
        &_text{
            width: 400px;
            font-size: 16px;
            color: var(--gray-color);
        }
        &_button{
            display: flex;
            align-items: center;
            border: 1px var(--gray-color) solid;
            border-radius: var(--border-radius);
            width: 191px;
            justify-content: space-between;
            padding-left: 31px;
            &__img{
                width: 54px;
                height: 54px;
            }
        }
        &_inputs{
            display: flex;
            flex-direction: column;
            width: 400px;
            gap: 20px;
            list-style: none;
            &-input{
                display: flex;
                gap: 20px;
                &-in1{
                    background-color: var(--dark-color);
                    width: 190px;
                    height: 40px;
                    border: 1px #C4C4C4 solid;
                    border-radius: var(--border-radius);
                    padding: 0 25px;
                    font-size: 16px;
                    color: white;
                    transition: all 0.3s ease;
            
                    &::placeholder {
                    color: rgba(255, 255, 255, 0.7);
                    }
                }
                &-in2{
                    background-color: var(--dark-color);
                    width: 400px;
                    height: 40px;
                    border: 1px #C4C4C4 solid;
                    border-radius: var(--border-radius);
                    padding: 0 25px;
                    font-size: 16px;
                    color: white;
                    transition: all 0.3s ease;
            
                    &::placeholder {
                    color: rgba(255, 255, 255, 0.7);
                    }
                }
            }
        }
    }
    .qodef-e-circle{
        border-radius: 50%;
        width: 610px;
        height: 610px;
        background-color: var(--black-color);
        display: flex;
        align-items: center;
        flex-direction: column;
        text-align: left;
        justify-content: center;
        &_bmi-table {
            font-size: 16px;
            width: 400px;
            border-collapse: collapse;
            margin: 20px 0;
          
            th, td {
              padding: 12px;
              text-align: left;
              border-bottom: 1px solid var(--gray-color);
            }
          
            th {
              font-weight: bold;
            }
            td{
                color: var(--gray-color);
            }
            tr:last-child {
              td {
                border-bottom: none;
              }
            }
          
            th:first-child,
            td:first-child {
              border-right: 1px solid #ddd;
            }
            
        }
        &_annotation{
            width: 400px;
            font-size: 16px;
        } 
    }
    
}

@media (max-width: 1470px){
    .title{
        &_name{
            font-size: 225px;
        }
    }
    .qodef-grid-inner{
        padding:  40px 0px 70px;
        &_ul{
            gap: 24px;
            &__li{
                gap: 10px;
                &___img{
                    width: 180px;
                    gap: 0;
                }
            }
            
        } 
    }
    .elementor-section {
        &_text {
            gap: 30px;
            font-size: 150px;
            transform: translate(-50%, 90%);
            &__img {
                width: 100px;
                height: 100px;
            }
        }
    }
}

@media (max-width: 1199.98px) {
    .title {
        &_name {
            font-size: 200px;
            padding: 0 30px;
        }
        &_downAllow{
            max-width: 180px;
            
        }
    }
    .qodef-grid-inner{
        padding:  40px 0px 70px;
        &_ul{
            gap: 21px;
            &__li{
                gap: 10px;
                &___img{
                    width: 150px;
                    gap: 0;
                }
            }
            
        } 
    }
    .elementor-container{
        // padding-bottom: 60px;
        font-size: 30px;
        &_img{
            width: 450px;
            height: 650px;
        }
        &-plus{
            width: 20px;
            height: 30px;
        }
        &_anotation{
            gap: 40px;
            font-size: 30px;
            width: 300px;
            &__div{
                max-width: 300px;
                font-size: 12px;
                margin-bottom: 12px;
            }
        }
    }
    .viewMore{
        font-size: 30px;
        &_img{
            width: 450px;
            height: 650px;
        }
        &-plus{
            width: 20px;
            height: 30px;
        }
        &_anotation{
            gap: 15px;
            font-size: 30px;
            width: 400px;
            &__div{
                max-width: 300px;
                font-size: 12px;
            }
        }
    }
    .elementor-section {
        &_text {
            gap: 20px;
            font-size: 125px;
            &__img {
                width: 80px;
                height: 80px;
            }
        }
    }
    .qodef-shortcode{
        padding: 30px 0;
        gap: 40px;
        .qodef-m-calculator-holder-inner{
            width: 300;;
            gap: 20px;
            &_title{
                width: 300px;
                font-size: 36px;  
            }
            &_text{
                width: 300px;
                font-size: 12px;
            }
            &_button{
                width: 191px;
                padding-left: 31px;
                &__img{
                    width: 54px;
                    height: 54px;
                }
            }
            &_inputs{

                width: 300px;
                gap: 10px;
                &-input{
                    display: flex;
                    gap: 10px;
                    &-in1{
                        width: 145px;
                        height: 40px;
                        padding: 0 25px;
                        font-size: 12px;

                    }
                    &-in2{
                        width: 300px;
                        height: 40px;
                        padding: 0 25px;
                        font-size: 1wpx;
                        color: white;
                    }
                }
            }
        }
        .qodef-e-circle{
            width: 500px;
            height: 500px;
            
            &_bmi-table {
                font-size: 12px;
                width: 300px;
                border-collapse: collapse;
                margin: 20px 0;
              
                th, td {
                  padding: 12px;
                }

               
            }
            &_annotation{
                width: 300px;
                font-size: 12px;
            }
        }
    }
}


@media (max-width: 992px) {
    .title {
        padding-top: 80px;
        &_name {
            font-size: 160px;
            padding: 0 20px;
        }
        &_downAllow{
            max-width: 180px;
            max-height: 180px;
        }
    }
    .elementor-container{
        font-size: 30px;
        &_img{
            width: 300px;
            height: 400px;
        }
        &_anotation{
            gap: 10px;
            font-size: 24px;
            width: 250px;
            &__div{
                width: 230px;
            }
            
        }
    }
    .viewMore{
        font-size: 30px;
        &_img{
            width: 300px;
            height: 400px;
        }
        &_anotation{
            gap: 10px;
            font-size: 24px;
            width: 260px;
        }
    }
    .qodef-grid-inner{
        padding:  30px 0px 70px;
        &_ul{
            // gap: 15px;
            &__li{
                display: flex;;
                justify-content: space-between;
                &___img{
                    width: 110px;
                    gap: 0;
                }
            }
            
        } 
    }
    .elementor-section {
        &_text {
            gap: 15px;
            font-size: 103px;
            &__img {
                width: 70px;
                height: 70px;
            }
        }
    }
    .elementor-section{

        &_info{
            gap: 6px;
            
            &__title{
                font-size: 32px;
            }
            &-plus{
                width: 18px;
                height: 26px;
            }
            &__text{ 

                font-size: 12px;
            }
        }
    }
    .part-container{
        gap: 5px;
        &_title{
            font-size: 40px;
            
            &-plus{
                width: 26px;
                height: 41px;
            }
        }
        &_text{
            font-size: 16px;
            max-width: 400px;
        }
    }
    .qodef-shortcode{
        padding: 30px 0;
        gap: 40px;
        .qodef-m-calculator-holder-inner{
            width: 250px;
            gap: 20px;
            &_title{
                width: 250px;
                font-size: 32px;  
            }
            &_text{
                width: 250px;
                font-size: 12px;
            }
            &_button{
                width: 200px;
                font-size: 12px;
                padding-left: 24px;
                height: 40px;
                &-img{
                    width: 40px;
                    height: 40px; 
                }
            }
            &_inputs{

                width: 250px;
                gap: 10px;
                &-input{
                    display: flex;
                    gap: 10px;
                    &-in1{
                        width: 120px;
                        height: 40px;
                        padding: 0 25px;
                        font-size: 12px;

                    }
                    &-in2{
                        width: 250px;
                        height: 40px;
                        padding: 0 25px;
                        font-size: 1wpx;
                        color: white;
                    }
                }
            }
        }
        .qodef-e-circle{
            width: 400px;
            height: 400px;
            
            &_bmi-table {
                font-size: 12px;
                width: 250px;
                border-collapse: collapse;
                margin: 20px 0;
              
                th, td {
                  padding: 12px;
                }

               
            }
            &_annotation{
                width: 250px;
                font-size: 10px;
            }
        } 
    }
}


@media (max-width: 768.1px) {
    .qodef-grid-inner{
        padding:  30px 0px 60px;
        &_ul{
            gap: 15px;
            &__li{
                
                &___img{
                    width: 90px;
                }

            }
            
        } 
    }
    .title {
        padding-top: 60px;

        &_name {
            font-size: 120px;
            padding: 0 15px;
        }
        &_date{
            font-size: 24px;
        }
        &_downAllow {
            padding-left: 40px;
            max-width: 120px;
        }
    }
    .elementor-container{
        font-size: 20px;
        &_img{
            width: 280px;
            height: 380px;
        }
        &_anotation{
            gap: 10px;
            font-size: 24px;
            width: 250px;
            &__div{
                width: 250px;
            }
        }
    }
    .viewMore{
        font-size: 20px;
        &_img{
            width: 280px;
            height: 380px;
        }
        &_anotation{
            gap: 10px;
            font-size: 24px;
            width: 290px;
        }
    }
    .elementor-section {
        &_text {
            gap: 10px;
            font-size: 83px;
            &__img {
                width: 60px;
                height: 60px;
            }
        }
    }
    .elementor-widget-wrap_inputs{
        gap: 15px;
        &-input{
            width: 190px;
        }
    }
    .elementor-section{

        &_info{
            gap: 4px;
            
            &__title{
                font-size: 24px;
            }
            &-plus{
                width: 14px;
                height: 20px;
            }
            &__text{ 

                font-size: 8px;
            }
        }
    }
    .part-container{
        gap: 5px;
        &_title{
            font-size: 32px;
            
            &-plus{
                width: 20px;
                height: 30px;
            }
        }
        &_text{
            font-size: 12px;
            max-width: 310px;
        }
    }
    .qodef-shortcode{
        padding: 30px 0;
        gap: 20px;
        .qodef-m-calculator-holder-inner{
            &_button{
                height: 40px;
                &-img{
                    width: 40px;
                    height: 40px;
                }
            }
            width: 200px;
            gap: 10px;
            &_title{
                width: 200px;
                font-size: 24px;  
            }
            &_text{
                width: 200px;
                font-size: 10px;
            }
            &_inputs{

                width: 200px;
                gap: 8px;
                &-input{
                    display: flex;
                    gap: 8px;
                    &-in1{
                        width: 96px;
                        height: 30px;
                        padding: 0 12px;
                        font-size: 10px;

                    }
                    &-in2{
                        width: 200px;
                        height: 30px;
                        padding: 0 25px;
                        font-size: 10px;
                        color: white;
                    }
                }
            }
        }
        .qodef-e-circle{
            width: 350px;
            height: 350px;
            
            &_bmi-table {
                font-size: 10px;
                width: 200px;
                border-collapse: collapse;
                margin: 20px 0;
              
                th, td {
                  padding: 10px;
                }

               
            }
            &_annotation{
                width: 180px;
                font-size: 8px;
            }
        }
       
    }
}


@media (max-width: 576px) {
    .title {
        padding-top: 40px;
        
        &_name {
            font-size: 80px;
            padding: 0 10px;
        }
        
        &_date {
            font-size: 16px;
            max-width: 280px;
        }
        
        &_downAllow {
            padding-left: 10px;
            width: 60px;
        }
        
    }
    .elementor-container{
        // padding-bottom: 0px;
        height: 300px;
        font-size: 8px;
        &_img{
            width: 150px;
            height: 200px;
        }
        &_text{
            gap: 1px;
        }
        &_anotation{
            gap: 5px;
            font-size: 12px;
            width: 200px;
            &__div{
                width: 200px;
                font-size: 8px;
            }
        }
        &-plus{
            width: 16px;
            height: 16px;
        }
    }
    .viewMore{
        font-size: 8px;
        &_img{
            width: 150px;
            height: 200px;
        }
        &_text{
            gap: 1px;
        }
        &_anotation{
            gap: 3px;
            font-size: 12px;
            width: 200px;
            &__div{
                width: 200px;
                font-size: 8px;
            }
            &-plus{
                width: 16px;
                height: 16px;
            }
            
        }
    }
    .qodef-grid-inner{
        padding:  10px 0px 35px;
        &_ul{
            gap: 15px;
            &__li{
                
                &___img{
                    width: 52px;
                }

            }
            
        } 
    }
    .elementor-section {
        &_text {
            gap: 8px;
            font-size: 48px;
            &__img {
                width: 40px;
                height: 40px;
            }
        }
    }
    .elementor-widget-wrap{
        padding: 30px 0px;
        width: 100%;
        &_title{
            font-size: 40px;
            
        }
        &_text{
            width: 100%;
            font-size: 12px;
            margin-bottom: 0;
        }
        padding: 30px 0;
        &_inputs{
            // width: 350px;
            font-size: 10px;
            gap: 5px;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            &-input{
                width: 120px;
                font-size: 10px;
                height: 40px;
                
            }
        }
    }
    .elementor-section{

        &_info{
            gap: 4px;
            
            &__title{
                font-size: 16px;
            }
            &__text{
                font-size: 6px;
            }
        }
    }
    .part-container{
        gap: 5px;
        &_title{
            font-size: 22px;
            
            &-plus{
                width: 16px;
                height: 24px;
            }
        }
        &_text{
            font-size: 8px;
            max-width: 200px;
        }
    }
    .qodef-shortcode{
        padding: 15px 0;
        gap: 8px;
        .qodef-m-calculator-holder-inner{
            width: 150px;
            gap: 10px;
            &_button{
                width: 150px;
                font-size: 12px;
                height: 32px;
                &-img{
                    width: 32px;
                    height: 32px;
                }
            }
            &_title{
                width: 150px;
                font-size: 18px;  
            }
            &_text{
                width: 150px;
                font-size:8px;
            }
            &_inputs{

                width: 150px;
                gap: 6px;
                &-input{
                    display: flex;
                    gap: 6px;
                    &-in1{
                        width: 72px;
                        height: 20px;
                        padding: 0 12px;
                        font-size: 8px;

                    }
                    &-in2{
                        max-width: 150px;
                        height: 20px;
                        padding: 0 12px;
                        font-size: 8px;
                        color: white;
                    }
                }
            }
        }
        .qodef-e-circle{
            width: 240px;
            height: 240px;
            
            &_bmi-table {
                font-size: 8px;
                width: 180px;
                border-collapse: collapse;
                margin: 20px 0;
                th, td {
                  padding: 6px;
                }

               
            }
            &_annotation{
                width: 150px;
                font-size: 6px;
            }
        }
       
    }
}

@media (max-width: 400px) {
    .elementor-widget-wrap{
        padding: 10px 0; 
        &_inputs-input{
            height: 32px;
        }
    }
    .title {
        padding-top: 20px;
        &_name {
            font-size: 70px;
        }
        
        
        &_date{
            font-size: 12px;
        }
        &_downAllow {
            padding-left: 20px;
            max-width: 60px;
        }
    }
    .qodef-grid-inner{
        padding:  6px 0px 25px;
        &_ul{
            gap: 5px;
            &__li{
                
                &___img{
                    width: 50px;
                }

            }
            
        } 
    }
    .elementor-container{
        // padding-bottom: 0px;
        height: 300px;
        font-size: 8px;
        &_img{
            width: 120px;
            height: 160px;
        }
        &_text{
            gap: 1px;
        }
        &_anotation{
            gap: 5px;
            font-size: 12px;
            width: 180px;
            &__div{
                width: 180px;
                font-size: 8px;
            }
        }
        &-plus{
            width: 16px;
            height: 16px;
        }
    }
    .viewMore{

        font-size: 8px;
        &_img{
            width: 120px;
            height: 160px;
        }
        &_text{
            gap: 1px;
        }
        &_anotation{
            gap: 3px;
            font-size: 12px;
            width: 180px;
            &__div{
                width: 180px;
                font-size: 8px;
            }
            &-plus{
                width: 16px;
                height: 16px;
            }
            
        }
    }
    .elementor-section {
        &_text {
            gap: 5px;
            font-size: 43px;
            &__img {
                width: 30px;
                height: 30px;
            }
        }
    }
    .qodef-shortcode{
        padding: 15px 0;
        gap: 4px;
        .qodef-m-calculator-holder-inner{
            width: 140px;
            gap: 6px;
            &_title{
                width: 140px;
                font-size: 18px;  
            }
            &_text{
                width: 140px;
                font-size:8px;
            }
            &_button{
                width: 120px;
                // height: 20px;
                font-size: 8px;
                padding-left: 16px;
                // &__img{
                //     width: 20px;
                //     height: 20px;
                // }
            }
            &_inputs{

                width: 150px;
                gap: 6px;
                &-input{
                    display: flex;
                    gap: 4px;
                    &-in1{
                        width: 68px;
                        height: 20px;
                        padding: 0 8px;
                        font-size: 8px;

                    }
                    &-in2{
                        max-width: 140px;
                        height: 20px;
                        padding: 0 12px;
                        font-size: 8px;
                        color: white;
                    }
                }
            }
        }
        .qodef-e-circle{
            width: 210px;
            height: 210px;
            
            &_bmi-table {
                font-size: 6px;
                width: 170px;
                border-collapse: collapse;
                margin: 15px 0;
                th, td {
                  padding: 4px;
                }

               
            }
            &_annotation{
                width: 140px;
                font-size: 6px;
            }
        }
       
    }
}