.footer{
    &__grid-inner{
        padding: 80px;
        display: flex;
        align-items: center;
        gap: 63px;
        justify-content: space-between;
    }
    &__logo{
        width: 270px;
    }
    &__logo-text{
        width: 870px;
        font-size: 20px;
    }
    &__about{
        padding: 0 80px 120px;
        display: flex;
        justify-content: space-between;
        list-style: none;
    }
    &__about-item{
        display: flex;
        flex-direction: column;
        gap: 20px;
        align-items: start;
        justify-content: start;
    }
    &__about-title{
        display: flex;
        align-items: center;
        font-size: 22px;
        gap: 5px;
    }
    &__about-text{
        display: flex;
        flex-direction: column;
        width: 290px;
        letter-spacing: 0.8px;
    }
    &__button{
        padding-left: 31px;
        display: flex;
        align-items: center;
        width: 302px;
        height: 54px;
        border: 1px solid var(--white-color);
        color: var(--gray-color);
        border-radius: var(--border-radius);
        justify-content: space-between;
    }
    &__button-icon{
        width: 54px;
        height: 54px;
    }
    &__title-img{
        width: 14px;
    }
    &__networks{
        width: 220px;
    }
    &__copyright{
        width: 100%;
        background-color: var(--dark-color);
        padding-left: 80px;
    }
    &__copyright-img{
        width: 45%;
    }
}

@media (max-width: 1470px){
    .footer{
        &__grid-inner{
            padding: 60px;
            gap: 63px;
        }
        &__logo{
            width: 270px;
        }
        &__logo-text{
            width: 870px;
            font-size: 20px;
        }
        &__about{
            padding: 0 60px 120px;
        }
        &__about-item{
            gap: 20px;
        }
        &__about-title{
            font-size: 22px;
        }
        &__about-text{
            width: 270px;
        }
        &__button{
            padding-left: 31px;
            width: 220px;
            height: 54px;
        }
        &__button-icon{
            width: 54px;
            height: 54px;
        }
        &__networks{
            width: 220px;
        }
        &__copyright{
            padding-left: 60px;
        }
    }
}

@media (max-width: 1199.98px) {
    .footer{
        &__grid-inner{
            padding: 40px;
            gap: 63px;
        }
        &__logo{
            width: 270px;
        }
        &__logo-text{
            width: 870px;
            font-size: 18px;
        }
        &__about{
            padding: 0 40px 120px;
        }
        &__about-item{
            gap: 20px;
        }
        &__about-title{
            font-size: 18px;
        }
        &__about-text{
            width: 220px;
            font-size: 12px;
        }
        &__button{
            padding-left: 24px;
            width: 200px;
            height: 54px;
        }
        &__button-icon{
            width: 54px;
            height: 54px;
        }
        &__networks{
            width: 200px;
        }
        &__copyright{
            padding-left: 40px;
        }
    }
}

@media (max-width: 992px) {
    .footer{
        &__grid-inner{
            padding: 40px;
            gap: 63px;
        }
        &__logo{
            width: 270px;
        }
        &__logo-text{
            width: 870px;
            font-size: 12px;
        }
        &__about{
            padding: 0 40px 60px;
        }
        &__about-item{
            gap: 20px;
        }
        &__about-title{
            font-size: 16px;
        }
        &__about-text{
            width: 172px;
            font-size: 10px;
        }
        &__button{
            padding-left: 24px;
            width: 160px;
            height: 40px;
        }
        &__button-icon{
            width: 40px;
            height: 40px;
        }
        &__networks{
            width: 160px;
        }
    }
}

@media (max-width: 768.1px) {
    .footer{
        &__grid-inner{
            padding: 20px;
            gap: 63px;
        }
        &__logo{
            width: 270px;
        }
        &__logo-text{
            width: 870px;
            font-size: 10px;
        }
        &__about{
            padding: 0 20px 40px;
        }
        &__about-item{
            gap: 10px;
        }
        &__about-title{
            font-size: 12px;
        }
        &__title-img{
            width: 14px;
        }
        &__about-text{
            width: 120px;
            font-size: 6px;
        }
        &__button{
            padding-left: 16px;
            width: 120px;
            height: 32px;
            font-size: 12px;
        }
        &__button-icon{
            width: 32px;
            height: 32px;
        }
        &__networks{
            width: 120px;
        }
        &__copyright{
            padding-left: 20px;
        }
    }
}

@media (max-width: 576px) {
    .footer{
        &__grid-inner{
            padding: 10px;
            gap: 20px;
        }
        &__logo{
            width: 270px;
        }
        &__logo-text{
            width: 870px;
            font-size: 8px;
        }
        &__about{
            padding: 0 10px 20px;
        }
        &__about-item{
            gap: 10px;
        }
        &__about-title{
            gap: 3px;
            font-size: 10px;
        }
        &__title-img{
            width: 12px;
        }
        &__about-text{
            width: 100px;
            font-size: 5px;
        }
        &__button{
            padding-left: 12px;
            width: 80px;
            height: 32px;
            font-size: 10px;
        }
        &__button-icon{
            width: 32px;
            height: 32px;
        }
        &__networks{
            width: 80px;
        }
        &__copyright{
            padding-left: 10px;
        }
    }
}

@media (max-width: 400px) {
    .footer{
        &__grid-inner{
            padding: 10px;
            gap: 20px;
        }
        &__logo{
            width: 270px;
        }
        &__logo-text{
            width: 870px;
            font-size: 6px;
        }
        &__about{
            padding: 0 10px 10px;
        }
        &__about-item{
            gap: 10px;
        }
        &__about-title{
            gap: 3px;
            font-size: 8px;
        }
        &__title-img{
            width: 10px;
        }
        &__about-text{
            width: 80px;
            font-size: 4px;
        }
        &__button{
            padding-left: 6px;
            width: 60px;
            height: 24px;
            font-size: 6px;
        }
        &__button-icon{
            width: 24px;
            height: 24px;
        }
        &__networks{
            width: 60px;
        }
    }
}